/* Work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* shared styles */
.btn-primary {
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    cursor: pointer;

}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}


/* nav section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;

}

nav li a {
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.nav-title {
    color: #131313;
    font-size: 35px;
    font-weight: 700;
}

/* banner section */
.banner-section {
    text-align: center;
}

.banner-contain {
    max-width: 800px;
    margin: 0 auto;

}


.banner-title {
    margin-top: 100px;
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.banner-img {
    width: 100%;
    margin-top: 50px;
}

/* Header section Responsive */
/* Small devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .nav-title {
        margin-bottom: 20px;
    }

    nav>ul {
        margin-left: 30px;
    }

    nav {
        flex-direction: column;
    }
}

/* medium Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 20px;
    }

    .nav-title {
        margin-bottom: 20px;
    }

    nav>ul {
        margin-left: 30px;
    }

    nav {
        flex-direction: column;
    }
}

/* Main section starting */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* First section */
.main-section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 75px;
    gap: 25px;
    padding-top: 85px;
}

.main-title {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 25px;
    margin-right: 70px;
}

strong {
    color: #131313;
    font-weight: 700;
}

span {
    color: #FF900E;
    font-weight: 700;
}

.main-description {
    margin-bottom: 30px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;

}

/* Feature section responsive */
/* Small devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .nav-title {
        margin-bottom: 20px;
    }

    nav>ul {
        margin-left: 30px;
    }

    nav {
        flex-direction: column;
    }

    .main-section-container {
        flex-direction: column;
        text-align: center;
    }

    .img-collage {
        grid-template-columns: repeat(1, 1fr);
        margin-right: 0px;
    }

    .main-title {
        margin-right: 0px;
        margin-top: 20px;
    }


}

/* medium Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 20px;
    }

    .nav-title {
        margin-bottom: 20px;
    }

    nav>ul {
        margin-left: 30px;
    }

    nav {
        flex-direction: column;
    }

    .main-section-container {
        flex-direction: column;
        text-align: center;
    }

    .img-collage {
        margin-right: 0px;
    }

    .main-title {
        margin-right: 0px;
        margin-top: 20px;
    }
}

/* Facts section */
.facts-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-top: 130px;
}

.facts-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.facts-icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 36px;
}

.card-title {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
}

.card-description {
    color: #727272;
    font-size: 20px;
    font-weight: 600;

}

/* facts section responsive */
@media screen and (max-width: 576px) {
    .facts-icons-container {
        flex-direction: column;
    }

    .facts-header {
        text-align: center;
    }

    .card {
        margin-top: 20px;
    }

    .card-description {
        margin-top: 10px;
    }

}

/* medium Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {

    .facts-icons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .facts-header {
        text-align: center;
    }

}

/* Experience section */
.features-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-container {
    display: flex;
    margin-top: 130px;
}

.feature-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

.card-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.card-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.feature-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 35px;
    margin-top: 25px;
}

.side-contain {
    margin-right: 145px;
}

.experience-bar {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 45px 40px;
    position: relative;
    bottom: 130px;

}

.img-contain img {
    height: 85%;
    margin-left: 90px;
}

.text1 {
    text-align: center;
    font-size: 65px;
    font-weight: 700;
}

.text2 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

/* Feature card responsive */
/* small device */
@media screen and (max-width: 576px) {
    .features-container {
        flex-direction: column;

    }

    .img-contain img {
        width: 100%;
        margin: 0px;
    }

    .experience-bar {
        position: static;
        max-width: 300px;
    }

    .side-contain {
        align-items: center;
        margin: 0px;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .features-container {
        flex-direction: column;

    }
}

/* Sponsor section */
.sponsor-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 180px;
}

.sponsor-description {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.sponsor-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.sponsor-icon img {
    width: 166.757px;
    height: 50px;
}

/* Sponsor section responsive */

/* small device */
@media screen and (max-width: 576px) {
    .sponsor-icon {
        flex-direction: column;
        gap: 30px;
    }

}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .sponsor-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 100px;
    }

    .medium-device {
        margin-left: 110px;
        margin-top: 20px;
    }
}

/* Sponsor section */
/* footer */
footer {
    border-radius: 8px;
    background: #FFF4E7;
    margin: 130px 240px 215px 240px;
}
.footer-text{
    text-align: center;
    padding: 40px 410px;
}